.tomato {
    background-color: wheat;
    color: tomato;
}

.center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tomato_p {
    composes: center-all;
    font-style: italic;
}


.continer table {

}
